## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[50, 78, 45, 1, 8, 97, 32, 92, 0, 72, 61, 73, 17, 27, 81, 33, 3, 36, 99, 13, 38, 80, 77, 18, 46, 15, 7, 70, 58, 90, 28, 91, 93, 4, 14, 20, 75, 53, 68, 5, 83, 55, 26, 9, 44, 10, 63, 39, 29, 64, 85, 12, 21, 49, 11, 19, 56, 24, 88, 95, 6, 35, 96, 65, 54, 51, 89, 84, 2, 76, 94, 66, 37, 31, 34, 79, 23, 30, 60, 41]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = [random.randrange(100) for i in range(80) ]
print(sample_list_2)

[82, 37, 74, 22, 47, 68, 60, 11, 65, 41, 34, 66, 71, 85, 36, 87, 17, 18, 6, 73, 68, 6, 34, 12, 67, 70, 33, 46, 85, 16, 75, 19, 25, 53, 41, 63, 57, 33, 83, 29, 48, 41, 77, 69, 59, 68, 19, 15, 39, 29, 83, 31, 37, 4, 50, 55, 27, 21, 42, 59, 78, 14, 88, 85, 84, 88, 30, 64, 6, 86, 0, 46, 3, 5, 93, 39, 58, 38, 2, 83]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
print(set2, len(set2))

{0, 2, 3, 4, 5, 6, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 25, 27, 29, 30, 31, 33, 34, 36, 37, 38, 39, 41, 42, 46, 47, 48, 50, 53, 55, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 82, 83, 84, 85, 86, 87, 88, 93} 61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
# Your code here
set3 = set([el for el in set1 if el not in set2])
print(set3, len(set3))

{1, 7, 8, 9, 10, 13, 20, 23, 24, 26, 28, 32, 35, 44, 45, 49, 51, 54, 56, 61, 72, 76, 79, 80, 81, 89, 90, 91, 92, 94, 95, 96, 97, 99} 34

In [19]:
set7 = set1-set2
set7 == set3

True

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
set8 = set2-set1
set8 == set4

True

In [8]:
# Your code here
set4 = set([el for el in set2 if el not in set1])
print(set4, len(set4))

{67, 69, 71, 42, 74, 47, 16, 48, 82, 22, 86, 87, 25, 59, 57} 15

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [21]:
# Your code here
set5 = set([el for el in set1 if el in set2])
print(set5, len(set5))

{0, 2, 3, 4, 5, 6, 11, 12, 14, 15, 17, 18, 19, 21, 27, 29, 30, 31, 33, 34, 36, 37, 38, 39, 41, 46, 50, 53, 55, 58, 60, 63, 64, 65, 66, 68, 70, 73, 75, 77, 78, 83, 84, 85, 88, 93} 46

In [22]:
set9 = set1.intersection(set2)
set9 == set5

True

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here
len(set1) + len(set2) == 2*len(set5) + len(set3) +len(set4)

True

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [64]:
# Your code here
set2.issubset(set1)

False

In [65]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [66]:
# Your code here
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [74]:
# Your code here
# ???? Sets are unordered, and pop takes no arguments - removes random element. ????

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [76]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for el in list_to_remove: 
    if el in set1:
        set1.remove(el)
print(set1, len(set1))

{2, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 54, 56, 57, 58, 60, 62, 63, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 90, 92, 93, 94, 97} 63